<% panel_id = panel ? panel.id : nil %>
<div class="panel" id="<%= panel_id %>">
  <div class="panel-heading">
    <div class="panel-holder">
      <a data-toggle="collapse" class="option-selected" data-parent="#accordion" href="#collapse<%= panel_id %>"><%= panel_methods[panel.panel_type][0] %></a>
    </div>
  </div>
  <div id="collapse<%= panel_id %>" class="panel-collapse collapse">
    <div class="droppable-panel">
      <% panel.assets.each do |asset| %>
        <div class="draggable-image-box" id="<%= asset.id %>">
          <img class="draggable-image" src="<%= asset.direct_upload_url %>">
        </div>
      <% end %>
    </div>
    <div class="dropdown">
      <span class="option-selected">
        <%= panel_methods[panel.panel_type] ? panel_methods[panel.panel_type][0] : "Select a panel type" %>
      </span>
      <div class="dropdown-content">
        <% panel_methods.each do |method, value_array| %>
          <p class="dropdown-option" id="<%= method %>" data-images="<%= value_array[1] %>"><%= value_array[0] %></p>
        <% end %>

      </div>
    </div>
    <button class="panel-submit">Save Panel</button><button class="panel-remove">Remove Panel</button>
  </div>
</div>
