<!DOCTYPE html>
<html>
<head>
  <title>Ambrosia</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Asap' rel='stylesheet' type='text/css'>
</head>
<body>

  <div id="nav-overlay">
    <div class='hamb'>
        <a href='#'><i class='fa fa-bars'></i></a>
    </div>
    <nav>
      <% 60.times do %>
        <div class="experience-bubble round-button-circle"></div>
      <% end %>
    </nav>
  </div>

  <!-- Foldable navbar -->
  <div id='main-menu'>
    <ul>
        <%= render partial: 'layouts/logged_in_menu' %>
        <%= render partial: 'layouts/logged_out_menu' %>
      <% if session[:user_id] %>
      <% else %>
      <% end %>
    </ul>
  </div>

  <div id='menu-overlay'></div>


  <main class="background-images">
    <div id="main-frame">
    </div>
  </main>

</body>
</html>
