<!DOCTYPE html>
<html>
<head>
  <title>Ambrosia</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.8/vendors/jquery.slimscroll.min.js"></script>
  <script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
  <script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenMax.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Asap' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Linden+Hill:400,400italic' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="session"><%= session[:user_id] %></div>
  <div id="nav-overlay">
    <div class='hamb'>
        <a href='#'><i class='fa fa-bars'></i></a>
    </div>
    <nav>
      <% 60.times do %>
        <div class="experience-bubble round-button-circle">
        </div>
      <% end %>
    </nav>
  </div>

  <!-- Foldable navbar -->
  <div id='main-menu'>
    <ul>
        <%= render partial: 'layouts/logged_in_menu' %>
        <%= render partial: 'layouts/logged_out_menu' %>
      <% if session[:user_id] %>
      <% else %>
      <% end %>
    </ul>
  </div>

  <div id='menu-overlay'></div>


  <main class="background-images">
    <div id="main-frame"></div>
    <div id="fullpage"></div>
  </main>

  <script>
  //   var applyFullpage = function() {
  //     $('#fullpage').fullpage({
  //     });
  //   };
  //   applyFullpage();
  </script>

</body>
</html>
